body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: SlateGray;
  /* display: flex; */
}

.container {
  width: 750px;
  margin: 60px auto;
  background-color: navy;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}
